---
interface Props {
  text: string;
  character: string;
  episode?: string | number;
  context?: string;
}

const { text, character, episode, context } = Astro.props;
---

<figure class="bg-semi-transparent rounded-lg p-6 relative">
  <svg 
    class="absolute top-4 left-4 w-8 h-8 text-accent/10" 
    viewBox="0 0 24 24"
    fill="currentColor"
  >
    <path d="M4.583 17.321C3.553 16.227 3 15 3 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 01-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179zm10 0C13.553 16.227 13 15 13 13.011c0-3.5 2.457-6.637 6.03-8.188l.893 1.378c-3.335 1.804-3.987 4.145-4.247 5.621.537-.278 1.24-.375 1.929-.311 1.804.167 3.226 1.648 3.226 3.489a3.5 3.5 0 01-3.5 3.5c-1.073 0-2.099-.49-2.748-1.179z"/>
  </svg>
  
  <blockquote class="text-lg italic ml-6">
    {text}
  </blockquote>
  
  <figcaption class="mt-4 font-mono text-sm">
    <cite class="text-accent not-italic">{character}</cite>
    {episode && (
      <span class="text-main/60 ml-2">
        Episode {episode}
      </span>
    )}
    {context && (
      <p class="text-main/60 mt-1 not-italic">
        {context}
      </p>
    )}
  </figcaption>
</figure>